target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.log
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.DS_Store
Thumbs.db
*.class
delombok/
reports/
allure-results/
allure-report/
.env
*.env
*.tmp
*.swp
jacoco.exec
/site/jacoco/
node_modules/
